<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bitdev.cloudmemo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".apps.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Login"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TambahNote"
            android:label="@string/title_activity_tambah_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewNote"
            android:label="Detail Note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Register"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".activities.MasterActivity"
            android:label="@string/title_activity_master"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
